# Подключение к БД(в локальном режиме)
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Данные суперюзера
USER_EMAIL=
USER_PASSWORD=

# Ваш токен для Страйпа
STRIPE_API_KEY=

# Настройки Редис
REDIS_HOST=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

# Настройка служебной почты
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Настройка подключения к БД
POSTGRES_NAME=
POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_HOST=
POSTGRES_PORT=