#Подключение к базе данных
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

#Данные для регистрации суперпользовыателя(кастомная команда 's_user')
USER_EMAIL=
USER_PASSWORD=

#Ключ API для доступа к документации stripe.com
STRIPE_API_KEY=
